Repository nitely-inc/nitely, changes with the owners that .github/CODEOWNERS names for each.
All owners: @C-EO, @Nitely-Developers/core, dennis.sebalemba@gmail.com, @Nitely-Developers/docs, @octocat

Add files via upload
  .github/workflows/labeler.yml
Owners: none

Add files via upload
  CITATION.cff
  SECURITY.md
  docs/README.md
  docs/code_of_conduct.md
  docs/contributing.md
  snap/snapcraft.yaml
Owners: @C-EO, @Nitely-Developers/core, @Nitely-Developers/docs

Update greeting.yml
  .github/workflows/greeting.yml
Owners: none

Delete labeler.yml
  .github/workflows/labeler.yml
Owners: none

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @C-EO, @Nitely-Developers/core

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @C-EO and @Nitely-Developers/core will be requested for
# review when someone opens a pull request.
*       @C-EO @Nitely-Developers/core

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @C-EO and not the global
# owner(s) will be requested for a review.
*.js    @C-EO

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.js dennis.sebalemba@gmail.com
*.ts dennis.sebalemba@gmail.com

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the core team in the Nitely-Developers organization owns all .txt files.
*.txt @Nitely-Developers/core @Nitely-Developers/docs @C-EO
*.js  @Nitely-Developers/core
*.ts  @Nitely-Developers/core
*.tsx @Nitely-Developers/core @Nitely-Developers/docs
*.jsx @Nitely-Developers/core @Nitely-Developers/docs
*.sh  @Nitely-Developers/core
*.mdx @Nitely-Developers/docs
*.md  @Nitely-Developers/docs

# In this example, @C-EO owns any files in the .github/workflows
# directory at the root of the repository and any of its
# subdirectories.
.github/workflows @C-EO @Nitely-Developers/core

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/*  dennis.sebalemba@gmail.com
.github/ISSUE_TEMPLATES/* 
.github/PULL_REQUEST_TEMPLATE/*
.github/workflows/*

# In this example, @C-EO owns any file in an apps directory
# anywhere in your repository.
apps/ @C-EO
etc/ @C-EO @Nitely-Developers/core

# In this example, @C-EO owns any file in the `/docs`
# directory in the root of your repository and any of its
# subdirectories.
docs/ @C-EO

# In this example, @C-EO owns any file in the `/apps` 
# directory in the root of your repository except for the `/apps/nitely` 
# subdirectory, as its owners are left empty.
/apps/ @octocat
/apps/nitely
